/* NavBar */
#navbar {
    display: flex;
    flex-direction: row;
    background-color: crimson;
    top: 0;
    left: 0;
    width: 100%;
}
.logo {
    width: 80px;
    height: 100%;
    margin-right: auto;
}
.home {
    align-self: center;
    justify-self: flex-end;
    margin-right: 20px;
    background-color: antiquewhite;
    padding: 10px;
    border: maroon solid 4px;
}
.myprofile {
    align-self: center;
    margin-right: 20px;
    background-color: antiquewhite;
    border: maroon solid 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.portfolio {
    align-self: center;
    margin-right: 20px;
    background-color: antiquewhite;
    padding: 10px;
    border: maroon solid 4px;
}
.messageus {
    align-self: center;
    justify-self: right;
    margin-right: 20px;
    background-color: antiquewhite;
    border: maroon solid 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* MainContent */
#about {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-title {
    text-align: center;
}
.about-subtitle {
    text-align: center;
}
.about-image {
    width: 400px;
    height: auto;
}

/* MyJourney */
.myjourney-title {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 30px;
}   
.pm {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}
.pm-p {
    flex-direction: column;
    margin-left: 20px;
    text-align: right;
    padding-top: 80px;
}
.se {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}
.se-p {
    flex-direction: column;
    margin-right: 20px;
    padding-top: 80px;
}

/* Footer */
.footer {
    display: flex;
    background-color: lightgoldenrodyellow;
}
.footer-copyright {
    margin-inline-end: auto;
}
.footer-paragraph {
    margin-right: 10px;
    justify-self: right;
}