/* NavBar */
#navbar {
    display: flex;
    flex-direction: row;
    background-color: crimson;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.logo {
    width: 80px;
    height: 100%;
    margin-right: auto;
    background-color: crimson;
}
.logo-link-img {
    width: 100px;
    height: 100%;
}
.home {
    align-self: center;
    justify-self: flex-end;
    margin-right: 20px;
    background-color: antiquewhite;
    border: maroon solid 4px;
}
.home > a:link {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.home > a:visited, .home > a:hover, .home > a:active {
    background-color: maroon;
    color: white;
}
.myprofile {
    align-self: center;
    margin-right: 20px;
    background-color: antiquewhite;
    border: maroon solid 4px;
}
.myprofile > a:link, .myprofile > a:visited {
    background-color: white;
    color: black;
    border: 2px solid maroon;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.myprofile > a:hover, .myprofile > a:active {
    background-color: maroon;
    color: white;
}
.portfolio {
    align-self: center;
    margin-right: 20px;
    background-color: antiquewhite;
    border: maroon solid 4px;
}
.portfolio > a:link, .portfolio > a:visited {
    background-color: white;
    color: black;
    border: 2px solid maroon;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.portfolio > a:hover, .portfolio > a:active {
    background-color: maroon;
    color: white;
}
.messageus {
    align-self: center;
    justify-self: right;
    margin-right: 20px;
    background-color: antiquewhite;
    border: maroon solid 4px;
}
.messageus > a:link, .messageus > a:visited {
    background-color: white;
    color: black;
    border: 2px solid maroon;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.messageus > a:hover, .messageus > a:active {
    background-color: maroon;
    color: white;
}


/* MainContent */
main {
    margin-top: 120px;
}

#hero {
    display: flex;
    flex-direction: column;
}
#hero > h1 {
    margin-bottom: 10px;
}
#hero-name > button {
    background-color: yellow;
    border: none;
    color: grey;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}
.hero-paragraph {
    margin-top: 0px;
    margin-bottom: 20px;
}
.hero-slider {
    align-self: center;
}
main > hr {
    margin-top: 30px;
}

/* Headquarters */
#headquarters {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
.headquarters-pictures {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
.jakarta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}
.jakarta > img {
    border-radius: 50%;
}
.bandung {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}
.bandung > img {
    border-radius: 50%;
}
.surabaya {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}
.surabaya > img {
    border-radius: 50%;
}
.headquarters-paragraph {
    margin-top: 30px;
}

/* MessageUs */
.messageus-ruler {
    border-width: medium;
}

/* Footer */
.footer {
    display: flex;
    background-color: lightgoldenrodyellow;
}
.footer-copyright {
    margin-inline-end: auto;
}
.footer-paragraph {
    margin-right: 10px;
    justify-self: right;
}

@media only screen and (max-width: 600px){
    /* Header/NavBar */
    #navbar {
        position: unset;
        flex-direction: column;
    }
    .logo {
        margin-left: auto;
        margin-bottom: 15px;
        margin-top: 15px;
        width: none;
        background-color: none;
        display: inline-table;
    }
    .home {
        margin-right: 0px;
        margin-bottom: 10px;
        width: 560px;  
    }
    .home > a:link {
        padding-inline-start: 261px;
        padding-inline-end: 261px;
    }
    .myprofile {
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;
        width: 560px;
    }
    .myprofile > a:link {
        padding-inline-start: 243px;
        padding-inline-end: 243px;
    }
    .portfolio {
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;
        width: 560px;    
    }
    .portfolio > a:link {
        padding-inline-start: 250px;
        padding-inline-end: 249px;
    }
    .messageus {
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;
        width: 560px;
    }
    .messageus > a:link {
        padding-inline-start: 240px;
        padding-inline-end: 240px;
    }

    /* MainContent */
    main {
    margin-top: 30px;
    }
    .hero-slider-button {
        display: flex;
        flex-direction: column;
    }

    /* Headquarters */
    #headquarters {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }
    .headquarters-pictures {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }
}