#navbar {
    display: flex;
    flex-direction: row;
    background-color: crimson;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.logo {
    width: 100px;
    height: auto;
    margin-right: auto;
}
.home {
    align-self: center;
    justify-self: flex-end;
    margin-right: 20px;
    background-color: antiquewhite;
    padding: 10px;
    border: maroon solid 4px;
}
.myprofile {
    align-self: center;
    margin-right: 20px;
    background-color: antiquewhite;
    border: maroon solid 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.portfolio {
    align-self: center;
    margin-right: 20px;
    background-color: antiquewhite;
    padding: 10px;
    border: maroon solid 4px;
}
.messageus {
    align-self: center;
    justify-self: right;
    margin-right: 20px;
    background-color: antiquewhite;
    border: maroon solid 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

main {
    margin-top: 140px;
}

#headquarter {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.jakarta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 50px;
    margin-left: 20px;
}
.jakarta > img {
    border-radius: 50%;
}
.bandung {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}
.bandung > img {
    border-radius: 50%;
}
.surabaya {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 20px;
    margin-left: 50px;
}
.surabaya > img {
    border-radius: 50%;
}

.container {
    background-color: lightgoldenrodyellow;
}
.footer {
    display: flex;
}

.footer-copyright {
    margin-inline-end: 1080px;
}